
@font-face {
    font-family: 'multicolore_regular';
    src: url('../fonts/multicolore/multicolore-webfont.eot');
    src: url('../fonts/multicolore/multicolore-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/multicolore/multicolore-webfont.woff2') format('woff2'),
         url('../fonts/multicolore/multicolore-webfont.woff') format('woff'),
         url('../fonts/multicolore/multicolore-webfont.ttf') format('truetype'),
         url('../fonts/multicolore/multicolore-webfont.svg#multicolore_regular') format('svg');
    font-weight: normal;
    font-style: normal;
}