@import "components/animations";
@import "components/colors";
@import "components/typography";
@import "components/table";
@import "components/nav";
@import "components/header";
@import "components/pricings";
@import "components/layout";
@import "components/summary";
@import "components/socials";
@import "components/footer";



@import "pages/homepage";
@import "pages/page";
@import "vars";
/**
 * Common styles
 */

*{ 
  font-family: Roboto, sans-serif;
  font-size:1em;
}

html, body{
  margin:0;
  padding:0;
}

a{
  text-decoration: none;
  color:lighten($gray, 20%);
}

h1{
  font-size:2em;
  font-weight: 300;
  color:$gray;
  text-align:center;
}

table{
  border-collapse: collapse;
  tr{
    padding:0;
    margin:0;
  }

  td,th{
    border:solid 1px;
    margin:0;
    padding:0;
  }
  
}

.kwikchat{
  .app__text, .admins__admin, .app__team, .app__admins{
    display:none;
  }

  .profile__app:after{
    content:"Posez vos questions, un des coworkers présent pourra vous répondre";
    text-align:center;
    display:block;
    padding: 1em 1em;
    color:lighten($gray, 30%);
  }

  .conversation__header{
    background-color: transparent;
    box-shadow:none;
  }

  .launcher__preview, .launcher__button{
    transition: all .5s;
    opacity: .6;
    &:hover{
      opacity: 1;
    }
  }
  .launcher__preview{      
    box-shadow: 3px 3px 20px rgba($gray,.3);
  }

  .launcher__button{
    background-color:#fff !important;
    border:none;
    box-shadow: 3px 3px 20px rgba($gray,.3)
  }

  .button__icon{
    background-image:none !important;
  }

  .header__button{

    &:hover{
      text-decoration: none;
      color:$gray;
    }

    &:before{
      font-family:'FontAwesome';
      display: block;
      width:16px;
      height:16px;
      vertical-align: middle;
    }
  }

  .header__button--close:before{
    content:"\f00d";
    font-size:1.2em;
    padding-top:.1em;
  }
  .header__button--minimize:before{
    content:"\f068";
    font-size:1em;
    padding-top:.35em;
      
  }

  .textarea__button{
    display:none;
  }
}



ul.logo-list{
  margin: 0;
  padding: 0;
  width: 100%;
  text-align:center;
  li{
    display: inline;
    padding: 0 .5em;
    a{
      opacity:.6;
      transition: all .2s;
      &:hover{
        text-decoration: none;
        opacity:1;
      }
    }
    img{
      display:inline;
      max-height:50px;
      width:auto;
    }
  }
}


.page.bis2fly{
  .main-content{
    text-align: center;
  }
}
