@import "components/table";
@import "components/nav";
@import "components/header";

@import "vars";
/**
 * Common styles
 */

*{ 
  font-family: Roboto, sans-serif;
  font-size:1em;
}

html, body{
  margin:0;
  padding:0;
}

a{
  text-decoration: none;
  color:lighten($gray, 20%);
}

h1{
  font-size:2em;
  font-weight: 300;
  color:$gray;
  text-align:center;
}

table{
  border-collapse: collapse;
  tr{
    padding:0;
    margin:0;
  }

  td,th{
    border:solid 1px;
    margin:0;
    padding:0;
  }
  
}

/**
 * Section coworking
 */

.coworking{
  table{
    max-width:400px;
    float:left;
    margin:0 20px;
  }
}

/**
 * Section map
 */

.adress-infos{
  iframe{
    width:100%;
  }
}