<!DOCTYPE html>
<html>
<head>
  <title>{{= ui.title }}</title>
  {% include "views/head.html" %}
</head>
<body ng-app="mutualab.org" class="home">
  <header class="main-header" >
    <div class="content-header text-center">
        <img class="logo" src="images/logo-mutualab.svg" title="{{= ui.header.logoTitle }}"/>
        <h3>{{= ui.header.introHeader }}</h3>
    </div>
    <div class="background-header" flickr-img search="mutualab" author="author"></div>
    <a class="author-infos" ng-show="author" href="{{author.profile}}" target="_blank">
        <img ng-src="{{author.pic}}" alt="Photo de {{author.name}}">
        <span>Photo de <br>{{author.name}}</span>
    </a>
  </header>


  <section class="main-content">
    <article id="summary" class="summary-home invert">
      <div class="inner-section background-rotate">
        <div class="container">
          <div class="col-lg-10 col-lg-offset-1">
           {% include "views/summary.html" %}
          </div>
        </div>
      </div>
    </article>
    

    {% include "views/menu.html" %}
    <article id="coworking" class="coworking-section view-section invert">
      <div class="inner-section background-rotate">
        <div class="container">
          <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2">
            {{= contents.coworking }}
          </div>
        </div>
      </div>
    </article>


    <article id="pricing-coworking" class="pricing-section view-section">
      <div class="container">
        <div class="col-md-12">
          {{= contents.pricings }}
        </div>
      </div>
    </article>

    
    <article id="nous-trouver" class="adress-infos">
      <h1>{{= ui.contactSection.title }}</h1>
      <div class="half-screen">
        <div class="map-container">
          <iframe width="100%" height="450" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" style="border:0" <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://www.openstreetmap.org/export/embed.html?bbox=3.0589091777801514%2C50.62838080447465%2C3.0639356374740596%2C50.63081722209712&amp;layer=hot" style="border: 1px solid black"></iframe>
          <a href="http://www.openstreetmap.org/#map=18/50.62960/3.06142&amp;layers=H" class="open-map-btn">
            <!--<i class="material-icons">&#xE89E;</i>-->
            <span class="glyphicon glyphicon-new-window"></span>
          </a>
        </div>
        
      </div>
      <div class="half-screen">
      </div>
    </article>
  
  </section>

  <script src="https://cdn.chatkwik.com/cdn/widget/1bba73b5d2e6130a79de8bf505d42da4fb6947c3bf57cfbeccca296f6c3319c3" type="text/javascript"> </script>

</body>
</html>