{% extends "views/master.html" %}

{% block body %}
<body ng-app="mutualab.org" class="home" chat-container>
  <header class="main-header" >
    <div class="content-header text-center">
        <img class="logo" src="images/logo-mutualab.svg" title="{{= ui.header.logoTitle }}"/>
        <h3>{{= ui.header.introHeader }}</h3>
    </div>
    <div class="background-header" flickr-img search="mutualab" author="author"></div>
    <a class="author-infos" ng-show="author" href="{{author.profile}}" target="_blank">
        <img ng-src="{{author.pic}}" alt="Photo de {{author.name}}">
        <span>Photo de {{author.name}}</span>
    </a>
  </header>


  <section class="main-content">
    <article id="summary" class="summary-home invert" ui-scrollpoint>
      <div class="inner-section background-rotate">
        <div class="container">
          <div class="col-lg-10 col-lg-offset-1">
           {% include "views/summary.html" %}
          </div>
        </div>
      </div>
    </article>
    

    {% include "views/menu.html" %}
    <article id="coworking" class="coworking-section view-section invert" ui-scrollpoint>
      <div class="inner-section background-rotate">
        <div class="container">
          <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2">
            {{= contents.coworking }}
          </div>
        </div>
      </div>
    </article>


    <article id="pricing-coworking" class="pricing-section view-section">
      <div class="container">
        <div class="col-md-12">
          {{= contents.pricings }}
        </div>
      </div>
    </article>
  </section>
  {% include "views/footer.html" %}
</body>
{% endblock %}