<div class="container menu-container" ui-scrollpoint  ng-class="{'wide':wide}">
     <div class="col-lg-10 col-lg-offset-1 ">
        <nav class="main-nav">
          <ul>
            <li>
                <a href="index.html" nav-to="#coworking">
                  <i mt-svg src="images/icon-work.svg"></i>
                  <span>{{ ui.menu.work.label }}</span>
                </a>
            </li>
            <li>
                <a href="louer-salle.html">
                  <i mt-svg src="images/icon-rent.svg"></i>
                  <span>{{ ui.menu.rent.label }}</span>
                </a>
            </li>
            <li>
                <a href="maker-space.html">
                  <i mt-svg src="images/icon-make.svg"></i>
                  <span>{{ ui.menu.maker.label }}</span>
                </a>
            </li>
          </ul>
        </nav>
     </div>
  </div>