<div class="summary-section">
  <em class="summary-content">{{= contents.summary }}</em>
    <ul>
        <li click-trigger>
            <a href="{{= ui.menu.work.url }}" nav-to="#coworking">
              <i class="picto" mt-svg src="images/icon-work.svg"></i>
            </a>
            <h2>{{= ui.menu.work.label }}</h2>
            <p class="menu-description">
              {{= ui.menu.work.description|nl2br }}
            </p>
        </li>
        <li click-trigger>
            <a href="{{= ui.menu.rent.url }}">
              <i class="picto" mt-svg src="images/icon-rent.svg"></i>
            </a>
            <h2>{{= ui.menu.rent.label }}</h2>
            <p class="menu-description">
              {{= ui.menu.rent.description|nl2br }}
            </p>
        </li>
        <li click-trigger>
            <a href="{{= ui.menu.maker.url }}">
              <i class="picto" mt-svg src="images/icon-make.svg"></i>
            </a>
            <h2>{{= ui.menu.maker.label }}</h2>
            <p class="menu-description">
              {{= ui.menu.maker.description|nl2br }}
            </p>
        </li>
      </ul>
      {% include "views/nav-subitems.html" %}
  </div>