<!DOCTYPE html>
<html>
<head>
  <title>{{= currentPage.metadata.title }} | {{= ui.title }}</title>
  <meta name="description" content="{{= currentPage.metadata.description }}">
  <base href="{{=ui.siteUrl}}">
  {% if currentPage.metadata.nofollow %}
    <meta name="robots" content="noindex, nofollow">
  {% endif %}

  {% include "views/head.html" %}
</head>
<body ng-app="mutualab.org" class="page {{= currentPage.metadata.pageClass }}" chat-container page>

  <header class="page-header">
    <div class="inner-section background-rotate" 
         ng-class="{
           0:'inner-section-blue',
           1:'inner-section-orange',
           2:'inner-section-green',
           3:'inner-section-yellow',
           4:'inner-section-pink'
         }[$page.bg]">
      <a class="content-header text-center" href="{{= ui.siteUrl }}">
          <img class="logo" src="images/logo-mutualab.svg" title="{{= ui.header.logoTitle }}"/>
          <h3>{{= ui.header.introHeader }}</h3>
      </a>
    </div>
  </header>
  {% include "views/menu.html" %}
  
  <section class="main-content">
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          {{= currentPage.content }}
          <iframe src="https://calendar.google.com/calendar/embed?showTitle=0&amp;showNav=0&amp;showDate=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;mode=AGENDA&amp;height=600&amp;wkst=1&amp;bgcolor=%23ffffff&amp;src=rnn0dim2qm94h11qot49smul9g%40group.calendar.google.com&amp;color=%232F6309&amp;ctz=Europe%2FParis" 
                  style="border-width:0" width="100%" height="600" frameborder="0" scrolling="no"></iframe>
        </div>
      </div>
    </div>
  </section>
  {% include "views/footer.html" %}
</body>
</html>