@import "vars";

.bg-gray{ 
  background-color:$gray;
}

.bg-green{ 
  background-color:$green;
}

.bg-yellow{ 
  background-color:$yellow;
}

.bg-blue{ 
  background-color:$blue;
}
.bg-red{ 
  background-color:$red;
}
.bg-pink{ 
  background-color:$pink;
}
.bg-orange{ 
  background-color:$orange;
}



.color-gray{ 
  color:$gray;
}

.color-green{ 
  color:$green;
}

.color-yellow{ 
  color:$yellow;
}

.color-blue{ 
  color:$blue;
}
.color-red{ 
  color:$red;
}
.color-pink{ 
  color:$pink;
}
.color-orange{ 
  color:$orange;
}