@import "../vars";

/**
 * Header on home page
 */

header.main-header {
  &{
    position:relative;
    overflow: hidden;
    min-height:30%;
    padding:30% 0;
    @media(min-width: 960px){
      padding:10% 0;
    }
  }

  .content-header{
    width:100%;
    background-color: rgba(255,255,255,.8);
    padding:40px 0; 
  }


  .background-header{
    top:-1%;
    left:-1%;
    height: 102%;
    width:102%;
    position:absolute;
    background:lighten($gray,10%);
    background-blend-mode: screen;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index:-1;
    //filter:blur(2px);
  }

  .author-infos{
    &{
      position: absolute;
      bottom:30px;
      right:50px;
      color:#fff;
    }

    span{
      display: inline-block;
    }

    img{

      display: block;
      float:left;
      border-radius: 50%;
      margin-right:10px;
    }
  }

  img.logo{
    width : 45%;
    margin:0 auto;
    display: block;
    @media(max-width: 760px){
      width : 90%;
    }

  }
  h1{
    text-align: center;
    color:#444;
    color:$gray;
  }

  img,h1{
    z-index:10;
  }

}


header.page-header{
  &{
    position:relative;
    overflow: hidden;
    padding: 0; 
    margin:0;
  }
  .content-header{
    display:block;
    margin:2% 0;
    padding:2% 0;
    background-color:rgba(#fff,.5);

  }
  a:hover{
    text-decoration:none;
    color:inherit;
  }

  img.logo{
    width : 45%;
    margin:0 auto;
    display: block;
    @media(max-width: 760px){
      width : 90%;
    }

  }
  h1{
    text-align: center;
    color:#444;
    color:$gray;
  }

  img,h1{
    z-index:10;
    opacity:.95;
  }


  .inner-section{
    padding-bottom:0;
    transition:all 1s;

    &.ui-scrollpoint:before{
    transform: rotate(20deg);
    }

    &:before {  
      opacity: .3;
      animation-name:background-animation;
      animation-duration:2s;
      transform: rotate(10deg);
      transition:all 1s;
      background:url(../images/icon-make-white.svg) 80% -120px no-repeat;
    }

    &-blue{
      background-color: lighten($blue, 15%);
    }
    &-orange{
      background-color: lighten($orange, 15%);
    }
    &-green{
      background-color: lighten($green, 15%);
    }
    &-yellow{
      background-color: lighten($yellow, 15%);
    }
    &-pink{
      background-color: lighten($pink, 15%);
    }
  }
}


