@import "vars";

.kwikchat{
  .app__text, .admins__admin, .app__team, .app__admins{
    display:none;
  }

  .profile__app:after{
    content:"Posez vos questions, un des coworkers présent pourra vous répondre";
    text-align:center;
    display:block;
    padding: 1em 1em;
    color:lighten($gray, 30%);
  }

  .conversation__header{
    background-color: transparent;
    box-shadow:none;
  }

  .launcher__preview, .launcher__button{
    transition: all .5s;
    opacity: .6;
    &:hover{
      opacity: 1;
    }
  }
  .launcher__preview{      
    box-shadow: 3px 3px 20px rgba($gray,.3);
  }

  .launcher__button{
    background-color:#fff !important;
    border:none;
    box-shadow: 3px 3px 20px rgba($gray,.3)
  }

  .button__icon{
    background-image:none !important;
  }

  .header__button{

    &:hover{
      text-decoration: none;
      color:$gray;
    }

    &:before{
      font-family:'FontAwesome';
      display: block;
      width:16px;
      height:16px;
      vertical-align: middle;
    }
  }

  .header__button--close:before{
    content:"\f00d";
    font-size:1.2em;
    padding-top:.1em;
  }
  .header__button--minimize:before{
    content:"\f068";
    font-size:1em;
    padding-top:.35em;
      
  }

  .textarea__button{
    display:none;
  }
}