@import "vars";

.main-content{
  
}

.view-section {
  
}

.half-screen{
  width:50%;
  float:left;
}

.no-padding-right{
  padding-right:0;
}

.no-padding-left{
  padding-left:0;
}

.no-padding{
  padding:0;
}