@import "../vars";
/**
* Nav menu 
*/


/**
 * Main menu style
 */

.menu-container{
  transition: all .5s;
  background-color:rgba(#fff,1);
  &:not(.ui-scrollpoint){
    padding-top: 2rem;
  }
  position:absolute;
  width:100%;

  ul{
    margin:0;
    padding:0 5%;
  }
  nav.main-nav {
  width:100%;
  @media(max-width: $screen-sm-max){
    display:none;
  }

  &> ul {
    text-align: left;
    margin-left: 0;
    @media(min-width: $screen-md-min){
      text-align: center;
    }
    &> li {
      transition: all .5s;
      & {
        

        margin-bottom:20px;
        @media(min-width: $screen-md-min){
          display: inline-block;
        }
        list-style-type: none;
        padding:0 2rem;
      }

      & > a {
        display:block;
        width:100%;
        padding: 0 1em;
        border-radius:.2em;
        &:hover{
          background-color:rgba($gray,.05);
          text-decoration:none;
        }

        &:visited, &:focus{
          text-decoration:none;
          outline:none;
          background-color:rgba($gray,.02);
        }
        @media(max-width: $screen-sm-min){
            //display:block;
        }
        
        span {
          color:lighten($gray, 40%);
          font-family:$font-multicolore;
          font-size: 1.5rem;
        }
      
        i {
            float:left;
            svg{
              max-width: 100%;
              path {
                mix-blend-mode: multiply;
              }
            }
          }
        }
      }
    }
  }
}


/**
 * Manage icon sizes
 */

@mixin ul-menu($icon-size){
  &> ul {
    &> li {
      & {
        @media(max-width: $screen-sm-min){
          height:$icon-size;
        }
      }

      & > a {

        height:$icon-size;
        @media(max-width: $screen-sm-min){
            padding-top:$icon-size/2;
        }
        
        span {
          @media(min-width: $screen-sm-min){
            line-height:$icon-size;
          }

          @media(min-width: $screen-md-min){
            line-height:$icon-size;
          }
        }
      
        i {
            @media(max-width: $screen-sm-min){
              margin-top:-$icon-size/2;
            }
            width: $icon-size;
            height:$icon-size;
          }
        }
      }
    }
}

/**
 * Icons size for classic
 */

.menu-container nav.main-nav {
  @include ul-menu(10rem);
  @media(min-width: $screen-md-min){
    @include ul-menu(6rem);
  }

  @media(min-width: $screen-lg-min){
    @include ul-menu(7rem);
   }

  @media(min-width: $screen-lg-min ){
    @include ul-menu(8rem);
  }

  
}

/**
 * Sticky 
 */

.menu-container.ui-scrollpoint{
  position:fixed;
  top:0;
  width:100%;
  height:90px;
  z-index:200;
  padding-top: 2rem;
  background-color:rgba(#fff,.8);
  ul{
    padding:0;
  }

  nav.main-nav {
      @include ul-menu(5rem);
      @media(min-width: $screen-md-min){
        @include ul-menu(6.5rem);
      }
    
  }
}
